.welcome-banner {
  text-align: left;
  margin-left: 60px;
}

.tutorial {
  display: flex;
  flex-direction: column;
  padding: 40px 10vw;

  position: fixed;
  top: 100px;
  left: 10vw;
  right: 10vw;
  bottom: 100px;
  z-index: 2;

  overflow-y: auto;

  background-size: 20px 20px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;
  background-color: #e0e0e0;
  background-image:
    linear-gradient(to right, #f0f0f0 1px, transparent 1px),
    linear-gradient(to bottom, #f0f0f0 1px, transparent 1px);
}

.tutorial-row {
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.left {
  text-align: left;
  max-width: 400px;
}

.right {
  margin-left: auto;
  text-align: right;
  max-width: 400px;
}

.tutorial-logo {
  opacity: .8;
  margin-left: 20px;
  transform: rotate(8deg);
}

.tutorial button {
  margin: 40px 0;
}

.tutorial p {
  line-height: 24px;
  font-size: 20px;
  font-weight: 500;
}

.tutorial li {
  line-height: 32px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.tutorial img {
  max-width: 200px;
  width: auto;
  height: auto;
}

.left-img {
  transform: rotate(-4deg);
  margin-bottom: 20px;
}

.right-img {
  max-height: 140px;
  transform: rotate(2deg);
}

.landing-container {
  background: url('../images/landing.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 600px;
  padding: 40px;
  box-shadow: 10px 10px 8px #f0f0f0;
}

.landing-logo {
  display: none;
}

.welcome-banner h1 {
  font-size: 44px;
}

.theme {
  color: #696969;
  font-size: 96px;
  margin: -20px 0 ;
}

.welcome-banner h3 {
  font-size: 48px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  top: 20px;
  right: 20px;
}

.nav__button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav p {
  margin-right: 40px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

.nav button {
  height: 60px;
}

.sign-in {
  padding: 20px;
  border-radius: 8px;
  border-style: none;
  background-color: #294165;
  color: white;

  font-size: 24px;
  font-weight: 700;
}

.sign-out {
  padding: 0px 20px;
  border-radius: 8px;
  border-style: none;

  background-color: red;
  color: white;

  font-size: 16px;
  font-weight: 700;
}

.decorate {
  padding: 0px 20px;
  border-radius: 8px;
  border-style: none;

  color: #294165;
  background-color: white;
  margin-right: 20px;

  font-size: 16px;
  font-weight: 700;
}

.decorate:hover {
  background-color: #FDFD96;
  opacity: 1;
}

.decorate-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 12px;
}

.decorate-form input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.decorate-form label {
  font-weight: 700;
  color: black;
  padding: 20px;
  margin-right: 12px;
  border-radius: 12px;
}

.decorate-form label:hover {
  background-color: #FDFD96;
}

.decorate-form button {
  background-color: #294165;
  border: none;
  color: white;
  font-weight: 700;
  padding: 12px;
  border-radius: 12px;
}

.decorate-form button:disabled {
  display: none;
}

.sign-in:hover, .sign-out:hover {
  opacity: .7;
}

@media (max-width: 800px) {
  .tutorial-row {
    justify-content: center;
    flex-direction: column;
  }

  .tutorial {
    padding: 20px 10vw;
  }
}

@media (max-width: 600px) {
  .landing-logo {
    display: block;
    position: static;
    height: 300px;
    opacity: .8;
  }

  .landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: none;
    box-shadow: none;
    padding: 0px;
    margin-bottom: 180px;
  }

  .welcome-banner {
    text-align: center;
    margin-left: 0;
  }

  h1 {
    font-size: 40px;
  }

  .theme {
    font-size: 60px;
  }

  h3 {
    font-size: 28px;
  }

  .nav p {
    margin-right: 12px;
  }

  .nav button {
    height: 60px;
    font-size: 12px;
  }

  .nav {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 0px
  }

  .decorate-form label {
    max-width: 160px;
    background-color: #FDFD96;
  }
}
